{
    "env": {
      "targets": {
        "node": 16
      }
    },
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "tsx": false,
        "decorators": true
      }
    },
    "module": {
      "type": "commonjs"
    },
    "sourceMaps": "inline"
  }
  